@model Pickup.Models.AddProductViewModel

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/ApiScripts/AddProduct.js"></script>
<h2>AddProduct</h2>

<form id="productForm">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AddProductViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Catagory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CatagoryId, (IEnumerable<SelectListItem>)ViewBag.CatagoryList, new { @class = "btn btn-primary dropdown-toggle" })
                @Html.ValidationMessageFor(model => model.Catagory, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="hidden" name="SellerId" value="2" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnAdd" value="Add" class="btn btn-default" />
                <input type="reset" value="Clear" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<p id="noti"></p>

<div>
    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-primary" })
</div>
