@model IEnumerable<Pickup_Entity.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Product List</h2>

<p>
    @Html.ActionLink("Create New", "AddProduct", "Admin")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatagoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatagoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProduct", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteProduct", new { id=item.Id })
        </td>
    </tr>
}

</table>
